
<p>
	Service <%= @service_todo.content %> for your Car <%= @cars_todo_list.car_plate_number %> is now on-going. 
</p>
<p>
Check out whats happening to your car at:

<%= link_to  @cars_todo_list.car_plate_number , @cars_todo_list %>

</p>