<p>
	Your car is now being maintained/repaired. You can chill and wait for notifications.
</p>
<p>
Check out whats happening to your car at:

<%= link_to  @cars_todo_list.car_plate_number , @cars_todo_list %>

</p>