 <% if user_signed_in? %>
<div class="container">
  <div class="transitions-enabled" id="sidepanel">
     <div class="box panel panel-default">
     	
          <div class="panel-body">
            <li><strong>Welcome!</strong></li>
      <% if current_user.admin? %>
		   <li style="color:#98173E"> Admin </li>
       <% elsif current_user.technician? %>
       <li style="color:#1A711B"> Technician </li>
      <% elsif current_user.cashier? %>
       <li style="color:#1A711B"> Cashier </li>
      <% else %>
      <li><%= current_user.name %></li>
      <% end %>
  
			<hr>
			<li><%= link_to "Change Account Details", edit_user_registration_path %></li>
			
          </div>
      </div>
  </div>
</div>
<% else %>
<%end %>